
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Scraper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
        <li><button type="button" class="btn btn-danger btn-scrape">Scrape New Articles</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 id="strike-through">This is Fresh Air!</h1>
        <h1>This is NPR News Scraper</h1>
        <p>The freshest news scraped right form the NPR headlines</p>
      </div>
    </div>

<div class="container headlines-container"> 
    
{{#each headlines}}
  {{#unless saved}}
     <div class="row">
        {{!-- <div class="col-lg-2 col-md-2 col-sm-2" >
            <img class="img-responsive img-thumbnail" src="{{this.imgLink}}" alt="{{this.title}}" />
        </div> --}}
        
        <div class="col-lg-10 col-md-10 col-sm-10" > 
          <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="{{this.link}}" target="_blank">{{this.title}}</a>
            
          </div>
          <div class="panel-body">
            <div class="col-lg-3 col-md-3 col-sm-3" >
            <a href="{{this.link}}" target="_blank"><img width="200px" class="img-responsive img-thumbnail news-thumb" src="{{this.imgLink}}" alt="{{this.title}}" /></a>
            </div> 
            <div class="col-lg-9 col-md-9 col-sm-9" >
            <div>{{this.subtitle}}</div>
            <div><button type="button" class="btn btn-success pull-right btn-save">Save Article</button></h3></div>
            </div> 
          </div>
          </div>
        </div>
        {{!-- <div class="col-lg-2 col-md-2 col-sm-2" ></div> --}}
    </div>
  {{/unless}}
{{/each}}
</div>

      <footer>
        <p>&copy; 2018 Scraper, Inc. All Rights Reserved</p>
      </footer>
    </div> <!-- /container -->



  
  
